<div nz-row >
    <div nz-col nzSpan="12">
        <div style="position: inherit;">
            <p style="    font-weight: 600; ">This is the list of dog breeds you can adopt ♥</p>
            <nz-list nzItemLayout="horizontal"  [nzLoading]="loading">
            <nz-list-item *ngFor="let breed of breedList">
                <nz-list-item-meta nzAvatar="{{dogPawPath}}">
                    <nz-list-item-meta-title>
                        <a href="https://ng.ant.design">{{ breed.name }}</a>
                    </nz-list-item-meta-title>
                </nz-list-item-meta>
                <ul nz-list-item-actions>
                    <nz-list-item-action><a >{{ breed.subBreedQty  }}</a></nz-list-item-action>
                </ul>
            </nz-list-item>
            <nz-list-footer>{{breedList.length}} dog breeds</nz-list-footer>
            <nz-list-empty *ngIf="breedList.length === 0"></nz-list-empty>
            </nz-list>
        </div>
        
    </div>
    <div nz-col nzSpan="12">
        <img
            nz-image
            class="favorite_pic"
            width="50%"
            nzSrc="{{ favoriteSubBreedPath }}"
            alt=""
      />
      <p style="text-align: center; margin: 10px;">
          {{ favoriteSubBreedMessage }}
      </p>
    </div>
  </div>
